# NY State Foster Care Data Analysis

What questions do I intend to answer with this data?
1. How many Indicated CPS Reports are there for NYC in the most recent year?
2. How does the frequency of chosen types of care vary between years?
3. 
4. Is the number of Indicated CPS reports affected by the type of care chosen?
5. Which year did NYC county have the most children in their care?
6. Is the number of Indicated CPS Reports affected by how many children are in their care?
7. What is the average number of Indicated CPS Reports per decade in NYC?

In [1]:
#import packages
import pandas as pd
import csv
import seaborn as sns
import numpy as np

## Get the data!

This dataset shows the total number of admissions, discharges, and children in foster care, the type of care, and total Child Protective Services(CPS) reports indicated that year.

In [2]:
df = pd.read_csv('nys-foster.csv')
df.head(10)

,County,Year,Adoptive Home,Agency Operated Boarding Home,Approved Relative Home,Foster Boarding Home,Group Home,Group Residence,Institution,Supervised Independent Living,Other,Total Days In Care,Admissions,Discharges,Children In Care,Number of Children Served,Indicated CPS Reports
0,ALBANY,2011,0,911,6269,23187,5817,1133,24034,2149,1106,64606,125,178.0,167,335,750.0
1,ALBANY,2010,0,978,9197,32014,7384,1683,24343,1384,1377,78360,154,164.0,206,376,801.0
2,ALBANY,2009,0,914,11365,41222,6601,1761,27456,1799,1604,92722,167,219.0,219,428,793.0
3,ALBANY,2008,0,787,14728,43758,6918,3280,27883,1637,3101,102092,169,209.0,259,464,1037.0
4,ALBANY,2007,0,1722,10027,51877,5175,3702,31763,632,2199,107097,183,185.0,295,477,1177.0
5,ALBANY,2006,0,2125,6029,54178,5569,2353,38291,0,2699,111244,243,267.0,285,542,1235.0
6,ALBANY,2005,221,2777,3564,58995,9446,1914,40386,0,3938,121241,263,326.0,289,621,1339.0
7,ALBANY,2004,366,4350,2864,71173,12717,3023,41139,0,4429,140061,288,327.0,356,692,1254.0
8,ALBANY,2003,365,4773,1972,83089,11422,3136,50523,0,3377,158657,288,345.0,396,739,1286.0
9,ALBANY,2002,0,4726,2505,105425,10757,2661,55245,0,2906,184225,286,386.0,450,832,1233.0

In [3]:
#get column names
column_names = df.columns
print(column_names)

Index([u'County', u'Year', u'Adoptive Home', u'Agency Operated Boarding Home',
       u' Approved Relative Home', u' Foster Boarding Home', u' Group Home',
       u' Group Residence', u'Institution', u' Supervised Independent Living',
       u'Other', u'Total Days In Care', u'Admissions', u'Discharges',
       u'Children In Care', u'Number of Children Served',
       u'Indicated CPS Reports'],
      dtype='object')

In [4]:
#get column datatypes
df.dtypes

County                             object
Year                                int64
Adoptive Home                       int64
Agency Operated Boarding Home       int64
 Approved Relative Home             int64
 Foster Boarding Home               int64
 Group Home                         int64
 Group Residence                    int64
Institution                         int64
 Supervised Independent Living      int64
Other                               int64
Total Days In Care                  int64
Admissions                          int64
Discharges                        float64
Children In Care                    int64
Number of Children Served           int64
Indicated CPS Reports             float64
dtype: object

In [5]:
#check for unique columns
for i in column_names:
    print('{} is unique: {}'.format(i, df[i].is_unique))

County is unique: False
Year is unique: False
Adoptive Home is unique: False
Agency Operated Boarding Home is unique: False
 Approved Relative Home is unique: False
 Foster Boarding Home is unique: False
 Group Home is unique: False
 Group Residence is unique: False
Institution is unique: False
 Supervised Independent Living is unique: False
Other is unique: False
Total Days In Care is unique: False
Admissions is unique: False
Discharges is unique: False
Children In Care is unique: False
Number of Children Served is unique: False
Indicated CPS Reports is unique: False

In [6]:
#check index values
df.index.values

array([   0,    1,    2, ..., 1412, 1413, 1414])

In [7]:
#looking for duplicate rows (there are none)
duplicatesdf = df[df.duplicated()]
print(duplicatesdf)

Empty DataFrame
Columns: [County, Year, Adoptive Home, Agency Operated Boarding Home,  Approved Relative Home,  Foster Boarding Home,  Group Home,  Group Residence, Institution,  Supervised Independent Living, Other, Total Days In Care, Admissions, Discharges, Children In Care, Number of Children Served, Indicated CPS Reports]
Index: []

## Cleaning Data for Analysis

In [8]:
#drop rows with nans
df = df.dropna()

In [9]:
#checking if any columns contain na values
df.isna().any()

County                            False
Year                              False
Adoptive Home                     False
Agency Operated Boarding Home     False
 Approved Relative Home           False
 Foster Boarding Home             False
 Group Home                       False
 Group Residence                  False
Institution                       False
 Supervised Independent Living    False
Other                             False
Total Days In Care                False
Admissions                        False
Discharges                        False
Children In Care                  False
Number of Children Served         False
Indicated CPS Reports             False
dtype: bool

In [10]:
#change floats to ints
df["Discharges"] = df["Discharges"].astype(int)
df["Indicated CPS Reports"] = df["Indicated CPS Reports"].astype(int)

In [11]:
df.head(10)

,County,Year,Adoptive Home,Agency Operated Boarding Home,Approved Relative Home,Foster Boarding Home,Group Home,Group Residence,Institution,Supervised Independent Living,Other,Total Days In Care,Admissions,Discharges,Children In Care,Number of Children Served,Indicated CPS Reports
0,ALBANY,2011,0,911,6269,23187,5817,1133,24034,2149,1106,64606,125,178,167,335,750
1,ALBANY,2010,0,978,9197,32014,7384,1683,24343,1384,1377,78360,154,164,206,376,801
2,ALBANY,2009,0,914,11365,41222,6601,1761,27456,1799,1604,92722,167,219,219,428,793
3,ALBANY,2008,0,787,14728,43758,6918,3280,27883,1637,3101,102092,169,209,259,464,1037
4,ALBANY,2007,0,1722,10027,51877,5175,3702,31763,632,2199,107097,183,185,295,477,1177
5,ALBANY,2006,0,2125,6029,54178,5569,2353,38291,0,2699,111244,243,267,285,542,1235
6,ALBANY,2005,221,2777,3564,58995,9446,1914,40386,0,3938,121241,263,326,289,621,1339
7,ALBANY,2004,366,4350,2864,71173,12717,3023,41139,0,4429,140061,288,327,356,692,1254
8,ALBANY,2003,365,4773,1972,83089,11422,3136,50523,0,3377,158657,288,345,396,739,1286
9,ALBANY,2002,0,4726,2505,105425,10757,2661,55245,0,2906,184225,286,386,450,832,1233

In [12]:
#showing array of unique counties in NY
df.County.unique()

array(['ALBANY', 'ALLEGANY', 'BROOME', 'CATTARAUGUS', 'CAYUGA',
       'CHAUTAUQUA', 'CHEMUNG', 'CHENANGO', 'CLINTON', 'COLUMBIA',
       'CORTLAND', 'DELAWARE', 'DUTCHESS', 'ERIE', 'ESSEX', 'FRANKLIN',
       'FULTON', 'GENESEE', 'GREENE', 'HAMILTON', 'HERKIMER', 'JEFFERSON',
       'LEWIS', 'LIVINGSTON', 'MADISON', 'MONROE', 'MONTGOMERY', 'NASSAU',
       'NEW YORK CITY', 'NIAGARA', 'ONEIDA', 'ONONDAGA', 'ONTARIO',
       'ORANGE', 'ORLEANS', 'OSWEGO', 'OTSEGO', 'PUTNAM', 'RENSSELAER',
       'ROCKLAND', 'SARATOGA', 'SCHENECTADY', 'SCHOHARIE', 'SCHUYLER',
       'SENECA', 'ST. LAWRENCE', 'ST. REGIS MOHAWK', 'STEUBEN', 'SUFFOLK',
       'SULLIVAN', 'TIOGA', 'TOMPKINS', 'ULSTER', 'WARREN', 'WASHINGTON',
       'WAYNE', 'WESTCHESTER', 'WYOMING', 'YATES'], dtype=object)

In [13]:
#showing range of years displayed in this dataset
df.Year.unique()

array([2011, 2010, 2009, 2008, 2007, 2006, 2005, 2004, 2003, 2002, 2001,
       2000, 1999, 1998, 1997, 1996, 1995, 1994, 2014, 2013, 2012, 2015,
       2017, 2016])

In [14]:
#dropping every county that isnt NYC
df_nyc = df[df.County == 'NEW YORK CITY']

In [15]:
df_nyc

,County,Year,Adoptive Home,Agency Operated Boarding Home,Approved Relative Home,Foster Boarding Home,Group Home,Group Residence,Institution,Supervised Independent Living,Other,Total Days In Care,Admissions,Discharges,Children In Care,Number of Children Served,Indicated CPS Reports
503,NEW YORK CITY,2011,1648,41728,1701271,2780101,61363,48743,333402,220,107538,5076014,5712,6740,13419,20936,22174
504,NEW YORK CITY,2010,2713,59802,1887192,2961273,120111,58336,404576,21880,130960,5646843,6877,7839,14790,23543,23417
505,NEW YORK CITY,2009,2861,59804,1956700,3026587,152216,75583,437130,35098,144320,5890299,7021,7581,15602,24276,24376
506,NEW YORK CITY,2008,3509,63025,1977029,3073944,175841,90477,461078,31569,158010,6034482,7224,7783,16113,24783,23321
507,NEW YORK CITY,2007,6012,92029,1977571,3098110,191398,97469,511599,13760,161794,6149742,7269,7351,16474,24910,22449
508,NEW YORK CITY,2006,8136,110275,1818491,3098522,216529,98963,561246,462,151963,6064587,7499,7295,16632,24633,23822
509,NEW YORK CITY,2005,11739,124312,1832521,3185725,272460,107158,669489,423,135634,6339461,6337,7367,16090,24252,15563
510,NEW YORK CITY,2004,16658,152302,2206838,3744647,351334,120232,785084,0,126881,7503976,5416,8620,18664,28059,15872
511,NEW YORK CITY,2003,12825,170429,2654477,4368341,427095,125486,845191,0,100954,8704798,6462,10423,21790,32543,17248
512,NEW YORK CITY,2002,0,177640,2996287,5119936,443200,141088,853125,0,101913,9833189,7745,11232,25069,36505,18537
513,NEW YORK CITY,2001,0,165851,3261719,5709665,461072,153467,866304,0,106521,10724599,8449,11649,27975,39992,19110
514,NEW YORK CITY,2000,0,165028,3734853,6453835,494014,162585,846636,623,106573,11964147,8931,13129,30482,44225,19414
515,NEW YORK CITY,1999,0,168634,4190019,7246080,532232,181097,891711,3171,103525,13316469,10573,13396,34669,49104,20015
516,NEW YORK CITY,1998,115,142497,4626982,7625644,529243,182789,867266,15271,102524,14092331,12025,13098,37801,51857,20578
517,NEW YORK CITY,1997,0,122856,5139527,7506242,504378,183673,853615,20690,106032,14437013,12793,13358,39197,53184,20177
518,NEW YORK CITY,1996,343,111719,5741388,7305858,488210,160885,805985,22732,116346,14753466,11935,12583,39955,52837,17948
519,NEW YORK CITY,1995,1648,107263,6645059,7233658,501659,154204,795857,20592,123854,15583794,9046,13803,40454,54379,13824
520,NEW YORK CITY,1994,2810,123288,7511293,7587896,544807,175699,820114,15743,126494,16908144,10437,12779,44859,58143,14360
1130,NEW YORK CITY,2013,365,36119,1402216,2489248,80144,38729,276764,22,93075,4416682,4495,5868,11398,17856,20340
1152,NEW YORK CITY,2012,456,37939,1603091,2678215,55514,46493,316940,0,101596,4840244,5076,6072,12577,19424,21270
1155,NEW YORK CITY,2014,113,39654,1258550,2365308,81257,29239,246781,164,86704,4107770,4307,4944,10866,16551,20633
1261,NEW YORK CITY,2015,0,39474,1171190,2238671,70503,29792,253023,0,70607,3873260,3905,4878,9889,15532,19624
1320,NEW YORK CITY,2017,0,36005,976200,1892365,71236,35729,265634,0,53528,3330697,3750,4532,8931,15266,21863
1360,NEW YORK CITY,2016,0,39094,1002788,1986728,67238,32889,235783,0,57183,3421703,3750,4532,8931,13438,20154